.DS_Store
Thumbs.db
*.log
*.pak
*.json
*.js
*.css
*.md
*.dll
*.dat
*.txt
*.html
!quote-tool.html
!quote.html
!about.html
!how-it-works.html
!blog-*.html
!land-regeneration/index.html
!land-regeneration/*.html
!portal/index.html
!portal/*.html
*.com
*.exe
*.asar
*.node
*.mm
*.bin
